[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "themes/typescript"]
	path = themes/typescript
	url = https://github.com/artchen/hexo-theme-typescript
